body {
    background-color: blue;
}body {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura da tela inteira */
    margin: 0; /* Remove margens padrão do corpo */
}

h1 {
    text-align: center; /* Alinha o texto centralmente */
    color: white; /* Define a cor do texto como branco */
    font-family: Arial, sans-serif; /* Define a fonte do texto */
    font-size: 40px; */

}
